/* Datatables, provided by https://github.com/babslgam*/

.navbar .navbar-nav {
    margin-right: 0;
}

div.dataTables_filter {
  text-align:left !important;
}

.btn-link {
  font-size:20px;
}

.exportbuttons {
  text-align: right;
}

.indentedP {
    text-indent: 1.9em;
}

.indentedH {
    text-indent: .7em;
}

.bg-secondary {
    background-color: transparent !important;
}

.page-item.active .page-link {
    background-color: #6c757d;
    border-color: #6c757d;
}

body {
    background-color: #f1f1f1 !important;
    margin: 0 !important;
    flex-direction: column;
}

.tei_body {
    margin-bottom: 1em;
}

.pb-merged {
    color: #dedede;
}

.appcrit {
    margin: 0 -1.3em !important;
    padding: 1em !important;
    background-color: #dedede;
}

#bibl_detail_table th {
    border-right: 1px solid #f1f1f1;
    width: 30%;
}

#bibl_detail_table th, #bibl_detail_table td  {
    border-top: none;
}

/* entities */
.entity {
    cursor: pointer;
}

.entity-table {
    margin: 4em auto;
}

.entity-table tbody tr td, .entity-table tbody tr th {
    border: none;
}

.entity-table tbody tr th {
    border-right: 1px solid lightgrey;
}

.index-table {
    margin: 0 auto;
}

#leaflet-map-one {
    height: 600px;
    margin: 1em auto;
    z-index: 0;
}

#tableReload-wrapper {
    margin: 4em auto .5em auto;
}

#tableReload {
    cursor: pointer;
}


.card {
    margin-bottom: 1em;
}

.navbar {
    border-bottom: 5px solid #000 !important;
}

.smallcaps {
    font-variant: small-caps;
    letter-spacing: 8px;
}

.italic {
    font-style: italic;
}

.linenumbers {
    font-size: 12px;
    position: absolute;
    margin-left: -5.5em;
    margin-top: -1.8em;
}

.linenumbersVisible {
    color: #444;
}

.fade {
    display: none;
}

.pageNum {
    position: relative;
    padding-right: 11.3em;
    margin-left: -10em;
}

.linenumbersTransparent {
    color: transparent;
}

.paranum {
    font-size: 12px;
    /*margin-left: -5em;*/
}

.em {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.footnote-index {
    vertical-align: sub;
    font-size: smaller;
}

.sub {
    vertical-align: sub;
    font-size: smaller;
}

.external, .interal {
    text-decoration: underline;
}

.inlinequote {
    font-style: italic;
}

.note {
    display: block;
    padding: 1em;
    background-color: #f1f1f1;
}

.dataTables_info {
  text-align: center;
}

.filters input {
  width:100%;
  padding: 3px;
  box-sizing: border-box;
}

.dataTables_wrapper table {
  width:100%;
}

/**** Font Aweseome ***/
.far {
    font-family: "Font Awesome 5 Free" !important;
}

.img-fluid {
    max-width: 160% !important;
    max-height: 160% !important;
}

.card {
    margin-top: 1em;
    box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, .1);
}

.index-card {
    transition: transform .2s;
}

.index-card:hover {
    transform: scale(1.05);
}

.index-link:hover {
    text-decoration: none !important;
}

.btn-round {
    border: 1px solid white;
}

.btn-round:hover {
    background-color: #fff !important;
}

.btn-round a {
    color: white;
}

.btn-intro {
    background-color: #000;
}

.btn-intro a {
    color: #fff;
}

p {
    display: block;
    margin-bottom: .3em !important;
}

.carousel-indicators {
    cursor: pointer;
}

.container-fluid {
    max-width: 1200px;
    margin:2em auto;
}

div.text-middle {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

div.text-middle div.text-re {
    display: grid;
    justify-content: center;
    padding: 2em;
    margin: 0 auto;
}

span.ssQueryAndButton {
    margin: 2em auto 0.25em auto !important;
    max-width: 50% !important;
    width: 50% !important;
}

input#ssQuery {
    font-size: .9rem !important;
    border-radius: 30px !important;
    padding: .3rem 1.75rem .3rem .75rem !important;
    border: 1px solid rgba(0,0,0,.075) !important;
    background-color: #fff !important;
    color: rgba(0,0,0,.9) !important;
}

button#ssDoSearch {
    border: 0 !important;
    padding: 0 !important;
    background: 0 0 !important;
    cursor: pointer !important;
    color: rgba(0,0,0,.6) !important;
    margin-left: -4.1em !important;
    margin-top: .1em !important;
}

#github-logo {
    width: 10%;
    height: auto;
    padding: 10px 0 10px 0;
    transition: transform .2s;
    margin-left: 1em;
}

#github-logo:hover {
    transform: scale(1.05);
}

div.crit-app{
    font-size:small
}
div.editorial-notes{
    font-size:small
}


/* cookie consent */
#cookie-overlay {
    background-color: rgba(51, 51, 51, 0.9);
    position: fixed;
    bottom: 0;
    z-index: 99;
    width: 100%;
    color: #FFFFFF;
    padding: 15px 10px;
    text-align: center;
    display: none;
    height: 100%;
}

#cookie-overlay .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid white;
    padding: 10px;
}

.cookie-message {
    display: inline-block;
}

.cookie-message a:hover {
    color: #88DBDF;
}

.cookie-accept-btn, .cookie-accept-necessary-btn {
    display: inline-block;
    background-color: #ffd534;
    color: #333;
    padding: 5px 30px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    margin: 0 0 0 20px;
}

.cookie-accept-btn, .cookie-accept-necessary-btn {
    display: inline-block;
    background-color: #ffd534;
    color: #333;
    padding: 5px 30px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    margin: 10px 10px 10px 20px;
    transition: background-color ease .2s;
}

.cookie-accept-btn:hover,
.cookie-accept-necessary-btn:hover{
    background-color: #d2b33d;
}